<hr>

<div class="container">


    <div class="row">
        <div class="col-md-6 col-xs-12 text-center">
            <div class="row">
                <div class="col-md-12">
                    <h2>About Us</h2>
                    <p>
                        The ASUC Office of Chief Financial Officer works with various capital commercial projects and investments. All generated revenue funnels into the support for the student body of UC Berkeley in forms including but not limited to scholarships, student organization funding, and support facilities. The Office works closely with the executives of ASUC including President and Executive Vice President.
                    </p>
                </div>
                <div class="col-md-12">
                    <h2>Message from the CFO</h2>
                    <p>
                        There are many ways in which one can serve the campus, and I envisioned ASUC being more financially responsible and transparent to student body. After being involved in ASUC for more than 2 years, I am glad to be in a position where I can ensure that Cal continues to empower students to be active leaders and advocate beyond the confines of campus. I hope that my office will enhance student’s financial experience at Cal through means such as finances, fiscal affairs, business operations, and budgeting of the Association. I do not take this opportunity as granted, but rather a privilege and honor to serve each and every one of you as your Chief Financial Officer (CFO). I look forward to working with all of you!
                    </p>
                </div>
            </div>

        </div>

        <div class="col-md-6 col-xs-12">
            <img src="/img/team.jpg" alt="" class="img-responsive center-block">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">
                Within the OCFO, there are various departments
            </h2>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <h3 class="text-center">
                        Business Development
                    </h3>
                    <p>
                        The Office of the Chief Financial Officer's Business Development Department focuses on ventures that improve use and availability of ASUC funds for the student body. As part of this work, we hold jurisdiction over ASUC Student Union businesses as well as ASUC's Lake Tahoe Cal Lodge. We utilize financial data to assess potential improvements to current business practices, and create recommendations based on this data to inform ASUC leaders on key business decisions. We collaborate with other departments, ASUC offices, and private partners to maximize our potential to improve the ASUC. Our overall goal is to create an ASUC that works better for students, by generating more funds for beneficial student programs and ensuring that ASUC finance bylaws and business practices maximize student
                    </p>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h3 class="text-center">
                        Business Operations
                    </h3>
                    <p>
                        The Business Operations department is focused on generating recurring income while maintaining and increasing the value of the ASUC's assets. These include properties such as Cal Lodge. Currently, Business Operations has been working to find ways to promote the property by increasing awareness through social media platforms and outreach opportunities. In addition, we are in the midst of devising a solid marketing plan in the case that ASUC makes the decision to sell Cal Lodge in order to focus on other revenue generating projects. Business Operations is also working on making information about the OCFO and its projects, like the Annual Budgeting and Space Allocation (ABSA) more accessible to students. In order to achieve this, our department brainstorms ways to encourage traffic on the OCFO’s social media accounts, providing important information about processes like ABSA to a wider demographic.
                    </p>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h3 class="text-center">
                        Budgeting
                    </h3>
                    <p>
                        The Department of Budgeting will mainly be focusing on auditing, budgeting for operational expenses of ASUC, and the allocation of money within the overall scope of ASUC to RSOs, such as the reservation of spaces, grants and scholarships, and loans. Budgeting department spearheaded the Transparency Budgeting Platform as we collected all of the budgeting and outline of all ASUC officials. The department's duty includes being financially transparent with all ASUC Officials' financial transactions, monitoring property values such as Cal Lodge and revenue generating units in MLK, and outlining ASUC operational budget each year. The Director of Budget and is responsible to monitor the budget accounts of the ASUC and student organizations. The director will assist in the efforts to ensure legitimacy of all budget account activity.
                    </p>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h3 class="text-center">
                        Funding Management
                    </h3>
                    <p>
                        Department of Funding Management manages funding projects of ASUC, including the Annual Budgeting and Space Allocation (ABSA). For the fall semester, we dedicate our meetings to planning ABSA including details such as the timeline of application, application portal, application materials, marketing plan and logistics of special events. In the spring semester, we review applications on a rolling basis and provide direct feedbacks to student groups on the application portal. Besides application screening, we also host office hours in the spring to answer questions from applicants and participate in Appeal meetings to help decide the final funding allocation. In addition, we collaborate with other departments within OCFO on other projects such as Cal Lodge Marketing Plan and Deficit Application.Besides main projects, we also consolidate budgets from past years into one sheet and brainstorm ideas about potential projects.
                    </p>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h3 class="text-center">
                        Investments
                    </h3>
                    <p>
                        The investment department is responsible for overseeing and managing the ASUC investment portfolio. Currently, the department is split into two main sub-committees, investment research and portfolio analysis. The investment research sub-committee is responsible for conducting thorough research on the capital markets in order to identify new investment opportunities that meet the ASUC’s investment philosophy and standards. Associates and interns in the investment research division are expected to conduct various research reports weekly. The portfolio analysis division is responsible for conducting reports that articulate the fluctuations in the current portfolio.
                    </p>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h3 class="text-center">
                        Financial Advisor
                    </h3>
                    <p>
                        The Financial Advisor oversees all projects run in the ASUC Finance Office. The Financial Advisor has overseen the Comparative Budget Analysis Project, alongside the completion of Cal Lodge Amortization and Marketing.
                    </p>
            </div>
        </div>
    </div>
</div>
