<div class="container" ng-controller="homeCtrl">
    <div class="row">
        <div class="col-md-12">
            <table datatable="ng" dt-options="dtOptions" class="table table-striped ">
                <thead>
                    <tr>
                        <!-- <th ng-repeat="x in dataService.headers">{{::x}}</th> -->
                        <th>Office</th>
                        <th>Name (Last, First)</th>
                        <th>Operational Cost</th>
                        <th>Programs/Event Costs</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <div>
                    <tbody>
                        <tr ng-repeat="x in dataService.data">
                            <td ng-repeat="y in x track by $index">{{::y}}</td>
                        </tr>
                    </tbody>
                </div>
            </table>
        </div>
    </div>
</div>
